

.image1{
    border: 5px solid black;
    border-radius:  50%;

}
.first{
    height: 300px;
    width: 100%;
    border: 2px solid red;
}
.image2{
    height: 240px;
    width: 150px;
    obeject-fit: cover;
    border-radius: 50%;
    position: relative;
    top: 0px;
    left: 40px;
}
.para2{
   
}
